.warp {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex: 1 5;*/

  position: relative;

  height: 50px;
  padding: 0;
}

#time {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
}

#article {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ededed;
  padding: 0;
}

#title {
  font-size: 15px;
  font-weight: bold;
}

#content {
  font-size: 15px;
}
